*{
    padding: 0;
    margin: 0;
}

#main{
    text-align: center;
}


h1{
    text-align: center;
    text-decoration: underline;
}


.section{
    position: relative;
    height: 10vh;
    margin: 12px;
    padding: 12px;
}

.section .section-center {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%)
}

body{
    background-color: grey;
}

.checkbox{
    padding: 10px 30px;
    margin: 12px;;
}



#registration {
            font-family: 'Raleway', sans-serif
        }

        .registration-form {
            position: relative;
            max-width: 642px;
            width: 100%;
            margin: auto;
            padding: 20px;
            overflow: hidden;
            background-size: cover;
            border-radius: 5px;
            z-index: 20
        }

        .registration-form::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(46, 0, 46, 0.85);
            z-index: -1
        }

        .registration-form .form-header {
            text-align: center;
            position: relative;
            margin-bottom: 30px
        }

        .registration-form .form-header h2 {
            font-weight: 700;
            text-transform: capitalize;
            font-size: 42px;
            margin: 0px;
            color: #fff
        }

        .registration-form .form-group {
            position: relative;
            margin-bottom: 30px
        }

        .registration-form .form-control {
            background-color: rgba(255, 255, 255, 0.2);
            height: 30px;
            width: 50%;
            padding: 0px 20px;
            border: none;
            border-radius: 40px;
            color: #fff;
            -webkit-box-shadow: 0px 0px 0px 2px transparent;
            box-shadow: 0px 0px 0px 2px transparent;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            margin-left:auto;
            margin-right: auto;
            display: block;
        }

        .registration-form .form-control::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5)
        }

        .registration-form .form-control:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5)
        }

        .registration-form .form-control::placeholder {
            color: rgba(255, 255, 255, 0.5)
        }

        .registration-form .form-control:focus {
            -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
            box-shadow: 0px 0px 0px 2px #ff8846
        }

        .registration-form input[type="date"].form-control {
            padding-top: 0px
        }

        .registration-form input[type="date"].form-control:invalid {
            color: rgba(255, 255, 255, 0.5)
        }

        .registration-form input[type="date"].form-control+.form-label {
            opacity: 1;
            top: 10px
        }

        .registration-form select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-left:auto;
            margin-right: auto;
            display: block;
        }

        .registration-form select.form-control:invalid {
            color: rgba(255, 255, 255, 0.5)
        }

        .registration-form select.form-control option {
            color: #000
        }
        .checkbox-label{
            color: #ffffff;
            text-align: center;
            margin-left:140px;
        }
        input[type="checkbox"]
{
    vertical-align:middle;
}
        .registration-form .form-label {
            position: absolute;
            top: -10px;
            left: 25px;
            opacity: 0;
            color: #ff8846;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            height: 15px;
            line-height: 15px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all
        }

        .registration-form .form-group.input-not-empty .form-control {
            padding-top: 16px
        }

        .registration-form .form-group.input-not-empty .form-label {
            opacity: 1;
            top: 10px
        }
        .checkbox-inline{
            vertical-align: middle;
            margin-left: 140px;
            margin-right: auto;
            
        }
        .registration-form .submit-btn {
            color: rgb(0, 0, 0);
            background-color: #070504b0;
            font-weight: 700;
            height: 60px;
            padding: 10px 30px;
            width: 100%;
            border-radius: 40px;
            border: none;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1.3px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all
        }

        .registration-form .submit-btn:hover,
        .registration-form .submit-btn:focus {
            opacity: 0.9
        }
        
        .modal-content {
        background-color: rgb(255, 255, 242);
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        align-items: center;
        text-align:center;
        border: 1px solid rgb(46, 0, 46);
        width: 80%; /* Could be more or less, depending on screen size */
        }
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }
        }
